## TUGAS BASIC PYTHON 3

### SOAL 1

Buatlah fungsi, beri nama `biodata()`. Fungsi ini adalah fungsi yang **menulis dan membaca input** dari user berupa string.

Input yang harus ada adalah `nama`, `pathway`, `kelas`, `kelompok`. 

Dan **ketika user ingin memasukkan nama dalam fungsi `biodata()` ini, maka nama yang lama akan tetap ada dan tidak terhapus**. 

Simpan file, dan beri nama `biodata.txt`.

Contoh:

Input  : > biodata()
Output : > Nama:  Budi
           Pathway:  Data Scientist
           Kelas:  A
           Kelompok:  7
           ['Nama: Budi\n', 'Pathway: Data Scientist\n', 'Kelas: A\n', 'Kelompok: 7 \n']

Input  : > biodata()
Output : > Nama:  Sudarsono
           Pathway:  Data Analyst
           Kelas:  B
           Kelompok:  7
           ['Nama: Budi\n',
           'Pathway: Data Scientist\n',
           'Kelas: A\n',
           'Kelompok: 7 \n',
           'Nama: Sudarsono\n',
           'Pathway: Data Analyst\n',
           'Kelas: B\n',
           'Kelompok: 7 \n']

### SOAL 2

Buatlah fungsi yang akan me-return suatu string, dimana string tersebut adalah **hasil konversi jumlah hari** dalam satuan **tahun, bulan, dan hari**.

Beri nama fungsi tersebut `hitung_hari()`, **parameter yang dibutuhkan adalah jumlah harinya saja**. 

Hasil output yang diinginkan: **`'X hari adalah setara dengan X Tahun, X Bulan dan X Hari'`**.

Contoh:

Input  : > hitung_hari(2000)
Output : > '2000 hari adalah setara dengan 5 Tahun, 5 Bulan dan 25 Hari'

Input  : > hitung_hari(70)
Output : > '70 hari adalah setara dengan 0 Tahun, 2 Bulan dan 10 Hari'

### SOAL 3

Buatlah fungsi yang akan me-return suatu string, dimana string tersebut adalah **hasil iterasi dari nama yang di-input user**.

Beri nama fungsi tersebut `list_nama()`, **parameter yang dibutuhkan adalah berapa jumlah nama yang diinginkan, parameter harus dalam string**.

Kondisi yang diinginkan ketika jumlah input adalah 1, maka cukup return output: **`'List Nama adalah: INPUT_PERTAMA'`**. 

Jika jumlah input adalah 2, maka return output: **`'List Nama adalah: INPUT_PERTAMA dan INPUT_TERAKHIR'`**. 

Jika jumlah input > 2, maka return output: **`'List Nama adalah: INPUT_PERTAMA, INPUT_KEDUA, ... dan INPUT_TERAKHIR'`**.

Contoh:

Input  : > list_nama(2)
Output : > Nama ke-1 Kim
           Nama ke-2 Kurniawan
           List Nama adalah: Kim dan Kurniawan

Input  : > list_nama(5)
Output : > Nama ke-1 Budi
           Nama ke-2 Sudarsono
           Nama ke-3 Egy
           Nama ke-4 Maulana
           Nama ke-5 Vikri
           List Nama adalah: Budi, Sudarsono, Egy, Maulana dan Vikri

### JAWABAN

### SOAL 1

In [3]:
def biodata():
    nama = input("Nama :")
    pathway = input("Pathway :")
    kelas = input("Kelas :")
    kelompok = input("Kelompok :")
    text = "\nNama: {}\nPathway: {}\nKelas: {}\nKelompok: {}".format(nama, pathway, kelas, kelompok)
    with open("biodata.txt", "a") as bio1:
        bio = bio1.write(text)
    bio

In [15]:
biodata()

Nama : Sudarsono
Pathway : Data Analyst
Kelas : A
Kelompok : 7

In [16]:
with open("Biodata.txt", mode="r") as rbiodata:
    rbiodata2 = rbiodata.readlines()
rbiodata2

['\n',
 'Nama: Budo\n',
 'Pathway: Data Scientist\n',
 'Kelas: A\n',
 'Kelompok: 7\n',
 'Nama: Sudarsono\n',
 'Pathway: Data Analyst\n',
 'Kelas: A\n',
 'Kelompok: 7']

### SOAL 2

In [17]:
def hitung_hari(total_hari):
    tahun = int(total_hari//365)
    bulan = int(total_hari%365)//30
    hari = int(total_hari%365)%30
    return(f"{total_hari} hari adalah setara dengan {tahun} Tahun, {bulan} Bulan, dan {hari} Hari")

In [18]:
hitung_hari(2000)

'2000 hari adalah setara dengan 5 Tahun, 5 Bulan, dan 25 Hari'

In [19]:
hitung_hari(70)

'70 hari adalah setara dengan 0 Tahun, 2 Bulan, dan 10 Hari'

### SOAL 3

In [28]:
def list_nama(n):
    list_nama = []
    for i in range(1,n + 1):
        nama = input(f"Nama ke-{i}:")
        list_nama.append(nama)
        space = ', '

    if n == 1:
        print(f"List Nama adalah: {list_nama[0]}") #return
    elif n == 2:
        print(f"List Nama adalah: {list_nama[0]} dan {list_nama[1]}") #return
    else:
        new_nama = f'{space.join(list_nama[0:-1])}, dan, {(list_nama[-1])}' #return
        print(f"List Nama adalah: {new_nama}")

In [26]:
list_nama(2)

Nama ke-1: Kim
Nama ke-2: Kurniawan

List Nama adalah: Kim dan Kurniawan

In [29]:
list_nama(5)

Nama ke-1: Budi
Nama ke-2: Sudarsono
Nama ke-3: Egy
Nama ke-4: Maulana
Nama ke-5: Vikri

List Nama adalah: Budi, Sudarsono, Egy, Maulana, dan, Vikri